name: Android Emulator Minimal

on:
  push:
    paths:
      - '.github/workflows/android-selenium-java.yml'
  pull_request:
    paths:
      - '.github/workflows/android-selenium-java.yml'

jobs:
  test:
    runs-on: macos-14
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4

    - name: Run Android Emulator
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 30
        target: google_apis
        arch: arm64-v8a
        force-avd-creation: false
        emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
        disable-animations: true
        script: echo "it works"